---

---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="bg-green-600 font-semibold px-1 py-0.5 text-white text-xs inline-block mr-2">NEW</span>
  <a href="/#event" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >「地上望遠鏡作りと理科工作」の応募を受け付けています！ »</a
  >
</div>
