---
import logoImage from '../assets/images/tumblr_static_5ao77l1lkhcswg0gsso8ooos4_640_v2.png';
---

<a class="flex items-center" href="/">
  <img src={logoImage?.src ?? logoImage} alt="せいか自然観察倶楽部" class="h-10 w-auto" />
</a>
